ul {
  list-style: none;
  padding-left: 0;
}
.events {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 300px);
}
.controls {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.link-list {
  display: flex;
  gap: 1rem;
}
.link {
  display: block;
  padding: 1rem;
}
