ul {
  list-style: none;
  padding-left: 0;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
.events {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
}
.events__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.events__link {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 250ms linear;
  &:hover {
    transform: scale(1.05);
  }
}
.controls {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.link-list {
  display: flex;
  gap: 1rem;
}
.link {
  display: block;
  padding: 1rem;
}
