.roulette__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game,
.wrapper {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.wrapper,
.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.yes,
.no,
.choice__try {
  @extend %btn;
}
.choice__input {
  padding: 10px;
  border: 1px solid #0080ff;
  border-radius: 10px;
  &:focus {
    outline: #fff;
  }
}
