.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 320px;
  @media (min-width: 320px) and (max-width: 767px) {
    max-width: calc(300px + 10vw);
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    max-width: calc(748px + 10vw);
  }
  @media (min-width: 1280px) {
    max-width: calc(1260px + 10vw);
  }
}
